{% extends "layout.html" %}

{% block title %}Configuration File {% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Test Collapse Elements for Config </h1>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <!-- The button with data-target is recommended, according to 
        https://getbootstrap.com/docs/4.6/components/collapse/-->

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" 
        aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

<a class="btn btn-warning" href="{{ return_path }}">Go Back</a>
{% endblock %}
